<h1>Article Details</h1>

<%= render 'form' %>

<%= link_to "<span class='glyphicon glyphicon-search'></span>".html_safe, @bookmark, class: 'btn btn-primary' %>
<%= link_to 'Back to My Articles', bookmarks_path, class: "btn btn-primary" %>
